html {
	height: 100%;
}

body,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
form,
input,
p,
button {
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
}

body {
	overflow: auto;
	height: 100%;
}

form,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

a {
	color: #333;
	text-decoration: none;
	outline: 0;
}

img {
	width: 100%
}

.clearfix:after {
	display: block;
	content: '';
	clear: both
}

/*列表页*/
.list_class {
	margin: 10px;
}

.list_li {
	margin-bottom: 1rem;
	border-radius: 1rem;
	box-shadow: -1px 3px 5px 1px #e1e1e1;
	padding: 1rem 0.5rem;
}

.list_img {
	width: 40%;
	float: left;
	height: 100%;
	overflow: hidden;
}

.list_text {
	width: 55%;
	float: left;
	margin-left: 5%;
	color: #999999;
}

.list_text .img {
	text-align: right;
}

.list_text .img img {
	width: 1.2rem;
}

.list_text_p {
	overflow: hidden;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: .6rem;
}

.list_text_p span {
	color: #fa6b01;
}

.list_title {
	color: #333;
}






/* 文章内容 */
.content_class {
	padding: 1rem;
}

.signBtn {
	position: fixed;
	bottom: 2rem;
	width: 10rem;
	background: #fa6b01;
	border-radius: 5px;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

/* 报名表单 */
.sign-form {
	padding: 1rem;
	background: url("../img/bgform.jpg") no-repeat;
}

.formClass {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #fa6b01;
	padding: 2rem;
	margin-top: 2rem;
}

.sign-form label {
	font-weight: unset;
	margin-bottom: 1rem;
}

.sign-form input,
select,
textarea {
	border: 1px solid #fa6b01 !important;
	border-radius: 5px !important;
}

.sign-form .radioClass {
	text-align: center;
	padding: 1rem;
	margin-bottom: 0;
}

.radioClass .am-radio-inline {
	font-size: 1.8rem !important;
}

.am-radio-inline input[type=radio] {
	float: none !important;
	width: auto;
}

.sumitBtn {
	width: 16rem;
	background: #fa6b01;
	border-radius: 5px !important;
	color: #fff;
	line-height: 4rem !important;
	display:inline-block;
}

.imgCodeBox {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.imgCodeBox>div {
	width: 45%;
}

.imgCodeBox .right .inputClass {
	background-color: #fceade;
	border-radius: 0 !important;
	color: #fa6b01;
	text-align: center;
}

.imgCodeBox .right1 .inputClass {
	color: #fa6b01;
	font-size: 1.5rem;
	padding: 0.9rem;
	text-align: center;
}

.imgupload {}

.imgupload .imgupload-text {
	float: left;
	width: 10rem;
	height: 10rem;
	line-height: 10rem;
	color: #fa6b01;
	text-align: center;
	border: 1px solid #fa6b01;
	border-radius: 5px;
	margin: 0 1.5rem 1rem 0;
}

/* 福利列表 */
.welfare-list-class .date-and-state {
	display: flex;
	justify-content: space-between;
	font-size: .9rem;
}

.welfare-list-class .welfare-list_li {
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #e1e1e1;
	height: 6rem;
}

.welfare-list_li .list_text {
	position: relative;
	height: 100%;
}

.welfare-list_li .positon-class {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* 活动规则 */
.wel-rules_class .wel-banner {
	height: 8rem;
	overflow: hidden;
	padding: 1rem;
	background: #fa6b01;
	text-align: center;
}

.wel-rules_class .rule-box {
	margin-top: 1rem;
	padding: 0.5rem;
}

.wel-rules_class .rule-box .rule-date {
	font-size: 1.2rem;
	padding: 0;
	color: #000;
}

.wel-rules_class .rule-box .rule-date span {
	height: 1.2rem;
	width: 0.2rem;
	background-color: #fa6b01;
	display: inline-block;
	margin-right: 0.5rem;
	vertical-align: middle;
}

.wel-rules_class .rule-box p {
	padding-left: 0.9rem;
	color: #656464;
	line-height: 25px;
}

.wel-rules_class .form-class {
	padding: 1rem 0.5rem;
	box-shadow: 2px 2px 12px 2px #bfbfbf;
	border-radius: 5px;
	width: 90%;
	margin: 1rem auto;
}

.wel-rules_class .form-class .form-box {
	margin: 1rem
}

.wel-rules_class .form-class .form-box input {
	width: 80%;
	border: 1px solid #656464;
	border-radius: 5px;
	height: 2rem;
}

.wel-rules_class .form-class .form-box label {
	margin-right: 1rem;
}

.wel-rules_class .form-class .form-box>span {
	width: 5rem;
	height: 8rem;
	border: 1px solid #656464;
	border-radius: 5px;
	display: inline-block;
	color: #a5a4a4;
	text-align: center;
	font-size: 5rem;
	line-height: 8rem;
	font-weight: 100;
	vertical-align: text-top;
}

.wel-rules_class .form-class .form-box>div {
	color: #656464;
	margin-left: 3rem;
	margin-top: 1rem;
}

.getBtn {
	width: 10rem;
	background: #fa6b01;
	border-radius: 5px;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	margin: 2rem auto;
}

/* 新活动 */
.xin-activity_class .ac-list li {
	float: left;
	width: 23%;
	padding: 5%;
}

.xin-activity_class .ac-list li p {
	text-align: center;
}

.xin-activity_class .ac-list li p img {
	border-radius: 100%;
	width: 4rem;
	height: 4rem;
}

/* 活动详情 */
.ac-info {
	text-align: center;

}

.activity_detail .title {
	text-align: center;
	line-height: 35px;
}

.ac-info>p {
	width: 140px;
	background: #4abb85;
	color: #fff;
	line-height: 30px;
	margin: 1rem auto;
}

.ac-info>div {
	border: 1px solid #4abb85;
	padding: 1rem;
	margin: 1rem;
}
.diaClass .cuo{
	position:absolute;
	top:1rem;
	right:1rem;
}
.diaClass .btn{
	width:10rem;
	margin: 2rem auto;
}
.diaClass .van-dialog__confirm{
	display:none;
}
.diaClass .content{
	padding:2rem 1rem;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
}
